{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main role="main" class="flex-shrink-0" id="main">

    <div class="container">
        
        <p>Department:</p>
        <h2 class="section-heading">{{ .Title }}</h2>
        {{ .Content }}
    



    
        <p>Service list:</p>

        {{ $departmentAcronym := .File.BaseFileName }}
        
        {{ range (where .Site.RegularPages "Type" "services") }}

            {{ if eq $departmentAcronym .Params.departmentAcronym }}
            <p><a href="/gc/{{ $departmentAcronym }}/{{ .File.BaseFileName }}/">{{ .Title }}</a></p>
            {{ end }}

        {{ end }}

    
    </div>

  </div>

</section>
{{ partial "footer.html" . }}
