<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="{{ .Site.Params.description}}"> 
	<meta name="author" content="{{ .Site.Params.author | default .Site.Author }}">  

    <!-- <base href="{{ .Site.BaseURL }}"> -->
    <title>{{ if .Title }}{{ .Title }} – {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css"> -->

    <!-- jQuery Data Tables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">

    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">


</head>
<body class="d-flex flex-column h-100">
